[submodule "server"]
	path = server
	url = https://github.com/JensUngerer/mean-battleship-server.git
[submodule "client"]
	path = client
	url = https://github.com/JensUngerer/mean-battleship-client.git
[submodule "common"]
	path = common
	url = https://github.com/JensUngerer/mean-battleship-common.git
[submodule "server-new"]
	path = server-new
	url = ./server-new
